@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Baloo;
  src: url(./assets/font/Baloo2-SemiBold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Nunito;
  src: url(./assets/font/Nunito-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Nunito;
  src: url(./assets/font/Nunito-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Cubano;
  src: url(./assets/font/iCielBCCubano-Normal.otf);
  font-weight: 500;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Nunito";
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
